/* Semi-Bold */

@font-face {
    font-family: 'Open Sans Bold';
    src:
        url('OpenSans-Bold.woff2') format('woff2');
}

/* Medium */

@font-face {
    font-family: 'Open Sans Medium';
    src: 
        url('OpenSans-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    src: 
        url('OpenSans-Medium.woff2') format('woff2');
}

/* Light */

@font-face {
    font-family: 'Open Sans Light';
    src: 
        url('OpenSans-Light.woff2') format('woff2');    
}
