JWT_EXPIRATION_TIME=86400000
JWT_SECRET='somesecretstring'

AWS_S3_BUCKET=''
AWS_S3_ACCESS_KEY=''
AWS_S3_KEY_SECRET=''

ADMIN_API_PORT=4000

PGPORT=5432
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=''
PGDATABASE=test_db

STORE_PGPORT=5432
STORE_PGHOST=localhost
STORE_PGUSER=postgres
STORE_PGPASSWORD=''
STORE_PGDATABASE=test_store

BEHIND_PROXY=no
ADMIN_PRIVATE_KEY='edsk4Mr5QGGVhRmQjia7D5RjfUAUy6AcwAGg9pfo3y5JVuujBCfLwA'
