/* Semi-SemiBold */

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('Poppins-SemiBold.woff2') format('woff2');
}

/* Medium */

@font-face {
    font-family: 'Poppins Medium';
    src: url('Poppins-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.woff2') format('woff2');
}

/* Light */

@font-face {
    font-family: 'Poppins Light';
    src: url('Poppins-Light.woff2') format('woff2');
}

/* Currency */

@font-face {
    font-family: 'currency';
    src: url('Junicode-Bold.woff2') format('woff2');
}
