body {
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;  
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh !important;
}
 
.isCurrent {
  font-weight: bold;
  box-shadow: -2px 0 0 0 #003a54;
}

.isCurrent a span {
  box-shadow: -2px 0 0 0 #003a54;
}