AWS_S3_BUCKET='bucketname'
AWS_S3_ACCESS_KEY=''
AWS_S3_KEY_SECRET=''

PINATA_API_KEY=''
PINATA_API_SECRET=''

STRIPE_SECRET=''
STRIPE_WEBHOOK_SECRET=''

CART_EXPIRATION_MILLI_SECS=1800000
ORDER_EXPIRATION_MILLI_SECS=3600000

PGPORT=5432
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=''
PGDATABASE='test_db'

JWT_EXPIRATION_TIME=86400000
JWT_SECRET=''

KANVAS_API_PORT=3000

MINTER_TZ_ADDRESS='tz1..'

BEHIND_PROXY=no
